{% extends "template.njk" %}

{% block main %}
    <section id="main" class="wrapper">
        <div class="inner">
            <div class="content">
                <header>
                    <h2>Impressum</h2>
                </header>
                <h3>Diensteanbieter</h3>
                <p>
                    Freiwillige Feuerwehr Höhenrain e. V.
                    </br>
                    Lärchenweg 12
                    </br>
                    82335 Höhenrain
                    </br>
                    vertreten durch Stefan Eisgruber
                </p>
                <h3>Kontaktmöglichkeiten</h3>
                <p>
                    <strong>E-Mail-Adresse:</strong>
                    <a href="mailto:vorsitzende@ff-hoehenrain.de">vorsitzende@ff-hoehenrain.de</a>
                </p>
                <h3>Register und Registernummer</h3>
                <p>Vereinsregister geführt bei Amtsgericht München (Nummer: 70542)</p>
                </br>
                <p>
                    <a href="https://datenschutz-generator.de/?l=de" title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank" rel="noopener noreferrer nofollow">
                        Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas Schwenke
                    </a>
                </p>
            </div>
        </div>
    </section>
{% endblock %}