{% extends "template.njk" %}

{% block main %}
<div id="main">
    <section class="wrapper">
	    <div class="inner">
			<header class="special">
			    <h2>Herzlich Willkommen</h2>
				<p>
                    Feuerwehren wurden früher gegründet um Brände zu bekämpfen, doch unsere Aufgaben gehen schon lange über das Löschen von Bränden hinaus. 
                    Neben der Brandbekämpfung stellt heute die sogenannte technische Hilfeleistung einen großen Teil unserer Arbeit dar. Dieser Bereich 
                    hält ein nahezu grenzenloses Aufgabenspektrum bereit, mit dem wir tagtäglich konfrontiert werden können, dabei kann es sich um die 
                    Katze auf dem Baum handeln, den Verkehrsunfall mit eingeklemmten Personen, das Beseitigen von Ölspuren auf Straßen und Gewässern, die 
                    Türöffnung auf Anforderung durch den Rettungsdienst oder die Polizei, die Rettung ins Eis eingebrochener Personen oder auch die Rettung
                    verschütteter oder abgestürzter Personen.
                </p>
                <p>
                    Auch unwetterbedingte Einsätze nehmen durch den Klimawandel in den letzten Jahren immer mehr zu, so dass Einsätze aufgrund von Sturmschäden 
                    mit abgedeckten Dächern und umgestürzten Bäumen, Hochwasser mit vollgelaufenen Kellern und überfluteten Straßen oder starken Schneefällen, bei 
                    denen Dächer von der schweren Schneelast befreit werden müssen immer häufiger bewältigt werden müssen. Zusätzlich rüsten wir uns auch für 
                    Katastropheneinsätze. Auch wenn im Landkreis Starnberg in den letzten Jahren kein Katastrophenfall ausgerufen werden musste, so zeigen uns doch
                    immer wieder neue Großlagen in Deutschland wie das Schneechaos vor wenigen Jahren oder die Jahrhunderthochwasser an Rhein, Elbe, Oderbruch und 
                    Bayern, dass auch in unserer Gegend stets der Katastophenfall eintreten kann und dann schnelle Hilfe benötigt wird.
                </p>
			</header>
		    <div class="highlights">
		        <section>
                    <div class="content">
                        <header>
                            <span style="font-size: 48px;">
                                <i class="fas fa-user-friends"></i>
                            </span>
                            <h3>KAMERADSCHAFT</h3>
                        </header>
                        <p>
                            Freiwillige Feuerwehr steht für Kameradschaft, Zusammenhalt und Teamwork. Ohne den funktionierenden Zusammenhalt könnte keine Feuerwehr existieren. 
                            Gerade im Feuerwehr Einsatz muss sich jedes Truppmitglied aufeinander verlassen können. Kameradschaft endet nicht in der eigenen Wehr, sondern wird 
                            auch überregional und international gepflegt.
                        </p>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <header>
                            <span style="font-size: 48px;">
                                <i class="fas fa-child"></i>
                            </span>
                            <h3>JUGENDFEUERWEHR</h3>
                        </header>
                        <p>
                            Die Jugendfeuerwehrarbeit hat das Ziel, Kinder und Jugendliche für den Einsatz in der Feuerwehr vorzubereiten, sodass sie nach Erfüllung 
                            der rechtlichen Voraussetzungen bei entsprechendem Alter und Qualifikation in der Einsatzabteilung der Freiwilligen Feuerwehr eingesetzt 
                            werden können.
                        </p>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <header>
                            <span style="font-size: 48px;">
                               <i class="fas fa-user-shield"></i> 
                            </span>
                            <h3>SCHÜTZEN</h3>
                        </header>
                        <p>
                            Vorbeugende Maßnahmen beinhalten im Wesentlichen Elemente des vorbeugenden Brandschutzes. Diese dienen der Vermeidung von 
                            Entstehungsbränden z. B. durch Brandsicherheitswachen
                        </p>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <header>
                            <span style="font-size: 48px;">
                                <i class="fas fa-graduation-cap"></i>
                            </span>
                            <h3>AUSBILDUNG</h3>
                        </header>
                        <p>
                            Die Gemeinden haben in eigener Verantwortung sicherzustellen, dass die Einsatz- und Führungskräfte ihrer Feuerwehren die erforderliche 
                            Aus- und Fortbildung erhalten. Die Kommandanten sind auch Leiter der örtlichen Feuerwehrausbildung.
                        </p>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <header>
                            <span style="font-size: 48px;">
                                <i class="fas fa-fire-extinguisher"></i>
                            </span>
                            <h3>LÖSCHEN</h3>
                        </header>
                        <p>
                            Das Löschen ist die älteste Aufgabe der Feuerwehr. Bei diesem so genannten abwehrenden Brandschutz werden unterschiedlichste Brände 
                            mit Hilfe spezieller Ausrüstung bekämpft.
                        </p>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <header>
                            <span style="font-size: 48px;">
                                <a href="https://ffrgb.de">
                                    <i class="fas fa-heartbeat"></i>
                                </a>
                            </span>
                            <h3>FIRST RESPONDER</h3>
                        </header>
                        <p>
                            Der First Responder übernimmt bei allen medizinischen Notfällen im Gemeindegebiet die professionelle Erstversorgung der Patienten und überbrückt 
                            somit den oftmals überlebensnotwendigen Zeitraum bis zum Eintreffen des öffentlichen Rettungs- und Notarztdienstes.
                        </p>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <header>
                            <span style="font-size: 48px;">
                                <i class="fas fa-hands-helping"></i>
                            </span>
                            <h3>BERGEN</h3>
                        </header>
                        <p>
                            Die Feuerwehr kann weiterhin das Bergen von Sachgütern, toten Menschen oder Tieren übernehmen.  
                        </p>
                    </div>
                </section>   
                <section>
                    <div class="content">
                        <header>
                            <span style="font-size: 48px;">
                                <i class="fas fa-dove"></i>
                            </span>
                            <h3>GESELLSCHAFTLICHES ENGAGEMENT</h3>
                        </header>
                        <p>
                            “Gott zur Ehr, dem Nächsten zur Wehr”, lautet ein Feuerwehr-Spruch, der den Zweck der Hilfsorganisation passend beschreibt. Als Feuerwehrmitglied geht 
                            es darum, anderen zu helfen und sich gesellschaftlich zu engagieren. Gutes zu tun, verschafft Dir auch selbst ein positives Gefühl.
                        </p>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <header>
                            <span style="font-size: 48px;">
                                <i class="fas fa-first-aid"></i>
                            </span>
                            <h3>RETTEN</h3>
                        </header>
                        <p>
                            Das Retten ist die Abwendung einer Lebensgefahr von Menschen durch Sofortmaßnahmen (Erste Hilfe), die der Erhaltung oder Wiederherstellung
                            von Atmung, Kreislauf oder Herztätigkeit dienen.
                        </p>
                    </div>
			    </section>
            </div>
        </div>
    </section>
    <section id="cta" class="wrapper">
        <div class="inner">
            <h2>Aktuelle übungen</h2>
            <p>
                Aufgrund der noch anhaltenden angespannten Situation im Zusamenhang mit COVID-19 finden weder Übungen 
                der aktiven Mannschaft noch Vereinsaktiviäten statt. Sobald sich hierbei etwas ändert, so wird dies 
                hier und über den bekannten Medien bekannt gegeben.
            </p>
        </div>
    </section>
    <section class="wrapper">
        <div class="inner">
            <header class="special">
                <h2>Virtuelle Übungen</h2>
                <p>
                    Im folgenden werden Information bezüglich der virtuellen Übungen der Jugendgruppe bereitgestellt. 
                    Der Übungsplan beschränkt sich hierbei auf das dritte und vierte Quartal von 2021, sodass dieser dynamisch geändert und 
                    aktualisiert werden kann.
                </p>
            </header> 
            <div class="testimonials">
                <section>
                    <div class="content">
                        <p>Zugang zum virtuellen Meeting</p>
                        <a href="https://link.ff-hoehenrain.de/jugend_meet" class="button primary">Google Meet starten</a>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <p>Übungsplan der Jugendgruppe</p>
                        <a href="../doc/uebungsplan_2021_q3q4.pdf" class="button primary">Download</a>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <p>Austauschordner für Lernmaterialien</p>
                        <a href="https://link.ff-hoehenrain.de/jugend_docs" class="button primary">Google Drive öffnen</a>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
{% endblock %}